<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Blog</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="/static/js/script.js"></script>
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="#" onclick="logout()">Logout</a>
    </nav>

    <h1>Create New Blog</h1>
    <form id="createBlogForm">
      <input name="title" placeholder="Title" required>
      <textarea name="content" placeholder="Content"></textarea>

      <label>Status</label>
      <select name="status" required>
        <option value="draft">Draft</option>
        <option value="published">Published</option>
      </select>

      <button type="submit">Create</button>
    </form>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const token = localStorage.getItem('access');
      if (!token) {
        alert("You must be logged in to create a blog post!");
        window.location.href = "/login/";
      }
    });

    document.getElementById('createBlogForm').addEventListener('submit', async (e) => {
      e.preventDefault();
      const token = localStorage.getItem('access');
      const data = {
        title: e.target.title.value,
        content: e.target.content.value,
        status: e.target.status.value 
      };
      //console.log("data------> "+ data)
      const res = await fetch('/api/blogs/create/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': `Bearer ${token}`
        },
        body: JSON.stringify(data)
      });
      if (res.status === 201) {
        alert('Blog created!');
        window.location.href = '/';
      } else {
        alert('Error creating blog.');
      }
    });
  </script>
</body>
</html>
